<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Learning Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/author" routerLinkActive="active" class="nav-link">Authors</a>
          </li>
        <li class="nav-item">
        <li class="nav-item">
            <a routerLink="/cpwd" routerLinkActive="active" class="nav-link">Change Password</a>
        </li>
        <li class="nav-item">
            <a routerLink="/directive" routerLinkActive="active" class="nav-link">Directive</a>
        </li>
        <li class="nav-item">
            <a routerLink="/followers" routerLinkActive="active" class="nav-link">Followers</a>
        </li>
        <li class="nav-item">
            <a routerLink="/like" routerLinkActive="active" class="nav-link">Like</a>
        </li>
        <li class="nav-item">
          <a routerLink="/favourite" routerLinkActive="active" class="nav-link">Favourite</a>
        </li>
        <li class="nav-item">
            <a routerLink="/new-course" routerLinkActive="active" class="nav-link">Courses</a>
          </li>
        <li class="nav-item">
          <a routerLink="/zippy" routerLinkActive="active" class="nav-link">Zippy</a>
        </li>
        <li class="nav-item">
          <a routerLink="archive/:year/:month" routerLinkActive="active" class="nav-link">Archive</a>
        </li>
      </ul>
    </div>
  </nav>